CREATE TABLE clientes (
    id_cliente          TEXT PRIMARY KEY,
    tipo_cliente        TEXT NOT NULL,
    nombre_razon_social TEXT NOT NULL,
    tipo_documento      TEXT,
    numero_documento    TEXT,
    direccion           TEXT,
    telefono            TEXT,
    email               TEXT,
    estado              INTEGER NOT NULL DEFAULT 1,
    fecha_registro      TEXT NOT NULL
  );
CREATE TABLE productos (
    id_producto         TEXT PRIMARY KEY,
    sku                 TEXT NOT NULL UNIQUE,
    nombre              TEXT NOT NULL,
    categoria           TEXT,
    unidad_medida       TEXT,
    precio_compra       REAL NOT NULL DEFAULT 0,
    precio_venta        REAL NOT NULL DEFAULT 0,
    stock_actual        REAL NOT NULL DEFAULT 0,
    stock_minimo        REAL NOT NULL DEFAULT 0,
    descripcion         TEXT DEFAULT '',
    imagen_url          TEXT DEFAULT '',
    estado              INTEGER NOT NULL DEFAULT 1,
    fecha_creacion      TEXT NOT NULL,
    fecha_actualizacion TEXT NOT NULL
  );
CREATE TABLE ventas (
    id_venta           TEXT PRIMARY KEY,
    numero_venta       TEXT NOT NULL UNIQUE,
    fecha_hora         TEXT NOT NULL,
    id_cliente         TEXT,
    tipo_comprobante   TEXT NOT NULL,
    numero_comprobante TEXT,
    subtotal           REAL NOT NULL DEFAULT 0,
    igv                REAL NOT NULL DEFAULT 0,
    descuento          REAL NOT NULL DEFAULT 0,
    total              REAL NOT NULL DEFAULT 0,
    forma_pago         TEXT,
    estado             TEXT NOT NULL DEFAULT 'ACTIVA',
    usuario            TEXT,
    notas              TEXT DEFAULT '',
    FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente)
  );
CREATE TABLE detalle_ventas (
    id_detalle       TEXT PRIMARY KEY,
    id_venta         TEXT NOT NULL,
    id_producto      TEXT NOT NULL,
    nombre_producto  TEXT NOT NULL,
    cantidad         REAL NOT NULL,
    precio_unitario  REAL NOT NULL,
    descuento_linea  REAL NOT NULL DEFAULT 0,
    subtotal_linea   REAL NOT NULL,
    FOREIGN KEY (id_venta)    REFERENCES ventas(id_venta),
    FOREIGN KEY (id_producto) REFERENCES productos(id_producto)
  );
CREATE TABLE compras (
    id_compra      TEXT PRIMARY KEY,
    numero_oc      TEXT NOT NULL UNIQUE,
    fecha_hora     TEXT NOT NULL,
    proveedor      TEXT,
    ruc_proveedor  TEXT,
    doc_proveedor  TEXT DEFAULT '',
    subtotal       REAL NOT NULL DEFAULT 0,
    igv            REAL NOT NULL DEFAULT 0,
    total          REAL NOT NULL DEFAULT 0,
    estado         TEXT NOT NULL DEFAULT 'ACTIVA',
    usuario        TEXT,
    notas          TEXT DEFAULT ''
  );
CREATE TABLE detalle_compras (
    id_detalle      TEXT PRIMARY KEY,
    id_compra       TEXT NOT NULL,
    id_producto     TEXT NOT NULL,
    nombre_producto TEXT NOT NULL,
    cantidad        REAL NOT NULL,
    precio_unitario REAL NOT NULL,
    subtotal_linea  REAL NOT NULL,
    FOREIGN KEY (id_compra)   REFERENCES compras(id_compra),
    FOREIGN KEY (id_producto) REFERENCES productos(id_producto)
  );
CREATE TABLE movimientos (
    id_movimiento   TEXT PRIMARY KEY,
    fecha_hora      TEXT NOT NULL,
    id_producto     TEXT NOT NULL,
    nombre_producto TEXT NOT NULL,
    tipo_movimiento TEXT NOT NULL,
    cantidad        REAL NOT NULL,
    stock_anterior  REAL NOT NULL,
    stock_nuevo     REAL NOT NULL,
    referencia      TEXT DEFAULT '',
    motivo          TEXT DEFAULT '',
    usuario         TEXT,
    FOREIGN KEY (id_producto) REFERENCES productos(id_producto)
  );
CREATE TABLE config (
    clave TEXT PRIMARY KEY,
    valor TEXT NOT NULL
  );
